@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient{
    mask: linear-gradient(90deg, transparent, #ffffff 10%, #ffffff 90%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, #ffffff 10%, #ffffff 90%, transparent);
}

body{
    background-color: #333333;
}