.slick-slide {
    padding-top:10px;
    margin-right: 10px;
}
.slick-prev::before,.slick-next::before{
   color:black;
   height:20px;
   width:20px;
    }


    .slick-prev, .slick-next {
        top:25%;
    }

